/* Sphere Browser styles */
.elstr-sb-menu {
	
}

.elstr-sb-menu-half {
	display : inline;
	opacity : 0.2;
}

.elstr-sb-menu-hide {
	display : none;
}

.elstr-sb-menu-show {
	display : inline;
	opacity : 1;
}
